body{
	margin: 0;
}

header{
	background-color: tan;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
}

header h2{
	color: white;
}

header img{
	border-radius: 160px;
	width: 300px;
	border: 10px solid lightyellow;
}